### macOS template
# General
.DS_Store

### Git
.gitignore
.git/

### Docker
.dockerignore
Dockerfile

### Node template
# Logs
logs
*.log
.pnpm-debug.log*

# Coverage directory used by tools like istanbul
coverage/
*.lcov

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# dotenv environment variable files
.env
.env.example
.env.development.local
.env.test.local
.env.production.local
.env.local


### Application
web.iml
README.md
fly.yaml
fly.review.yaml
docker-image-stages.md
biome.json


### Remix template
/.cache
/build
/public/build
.react-router
