@import "@suddenly-giovanni/config-tailwind/styles.css";

@font-face {
	font-family: "Shantell Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
		url('/fonts/ShantellSans.woff2') format('woff2');
}
