.DS_Store
.development.env
.direnv
.dockerignore
.eslintignore
.example.env
.git/
.github/
.idea/
.turbo
Dockerfile
README.md
biome.json
docker-compose.yml
docker-image-stages.md
eslint.config.js
flake.lock
flake.nix
fly.review.yaml
fly.yaml
node_modules/
pruned/
turbo.json
