# Misc
.DS_Store
*.pem
tsconfig.tsbuildinfo
.direnv/

# Dependencies
node_modules
.pnpm

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage


# Build Outputs
out/
build
dist
/pruned/
