; this in v9 get set to `true` by default. prev state was `false`
dedupe-peer-dependents=false

; this in v9 get set to `false` by default. prev state was `true`
link-workspace-packages=true

; this in v9 get set to `ture` by default. prev state was `false`
hoist-workspace-packages=false


; this in v9 get set to `true` by default. prev state was `false`
enable-pre-post-scripts=false

auto-install-peers=true
resolve-peers-from-workspace-root=true
save-prefix=''
tag=latest
node-linker=isolated
@jsr:registry=https://npm.jsr.io
