; ___Dependency Hoisting Settings___

; When true, all dependencies are hoisted to node_modules/.pnpm/node_modules.
; This makes unlisted dependencies accessible to all packages inside node_modules.
; v8 default to `true`
hoist = ture

; When true, packages from the workspaces are symlinked to
; `<workspace_root>/node_modules/.pnpm/node_modules` or to
; `<workspace_root>/node_modules` depending on other hoisting settings.
; This in v9 get set to `ture` by default. prev state was `false`.
hoist-workspace-packages = true

; this in v9 get set to `true` by default. prev state was `false`
dedupe-peer-dependents = false

; this in v9 get set to `false` by default. prev state was `true`
link-workspace-packages = true

; this in v9 get set to `true` by default. prev state was `false`
enable-pre-post-scripts = false

auto-install-peers = true
resolve-peers-from-workspace-root = true
save-prefix = ''
tag = latest
node-linker = isolated
@jsr : registry=https://npm.jsr.io
