@import "tailwindcss";
@import "@repo/tailwind-config/style.css";

@source "../../../ui/";

html {
	color-scheme: light dark;

	&[data-theme="light"] {
		color-scheme: light;
	}

	&[data-theme="dark"] {
		color-scheme: dark;
	}
}
