@import "tailwindcss";
@import "@suddenly-giovanni/ui/styles.css";

@source "@suddenly-giovanni/ui/ui/**/*.tsx";
@source "@suddenly-giovanni/ui/components/**/*.tsx";

html {
	color-scheme: light dark;

	&[data-theme="light"] {
		color-scheme: light;
	}

	&[data-theme="dark"] {
		color-scheme: dark;
	}
}
